<div class="page-width">
  <div class="grid">
<main class="content content-area">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">



      <div class="section-header text-center page-title">
        <h1 class="label">{{ page.title }}</h1>
      </div>

      <div class="rte">
        {{ page.content }}

        <style>
#simple_store_finder__map { 



}
            .simple_store_finder__search_distancehxwlfjtc {
        width:50px;
        display:inline;
        float:left;
        margin-top:5px;
        font-size: 80%;
         
} 
.simple_store_finder__search_resulthxwlfjtc {
   padding-top:15px;
   padding-bottom:5px;
   clear: both;
}

.simple_store_finder__search_locationhxwlfjtc {
  display: inline;
  float: left;
  max-width:70%;
  margin-left:10px;
}

#simple_store_finder__search_results {
   height: 300px;
}

            
#firstHeadinghxwlfjtc {
margin-top:2px;
margin-bottom:6px;
padding-right:10px;
font-size:110%;
}

.simple_store_finder__columnshxwlfjtc {
clear:both;
}

.simple_store_finder__columnhxwlfjtc {
margin-right:10px; padding-right:10px;

}

.simple_store_finder__divhxwlfjtc {
                      margin:4px;
                      padding:2px;
                }

.simple_store_finder__locationhxwlfjtc {
                      margin-bottom:8px;
}

 .simple_store_finder__groupnamehxwlfjtc { font-weight: bold; font-size: 120%; text-transform:uppercase; border-bottom: 2px solid; } .simple_store_finder__namehxwlfjtc { font-weight: bold; text-transform:uppercase; } .simple_store_finder__headerhxwlfjtc { font-size: 140%; } .simple_store_finder__featured_storehxwlfjtc { display: inline; float: left; padding:10px; margin:10px; } 
        </style>
        <div id="simple_store_finder__contenthxwlfjtc" class="updated_1578005131" style="margin-left: 150px; margin-right: 150px;">
               {{ page.metafields.simple_store_finder.stores_text }}
        </div>
      </div>
    </div>
</main>
  </div>
</div>
