{% section 'product-template' %}
{% section 'related-products' %}
{% section 'recently-viewed-products' %}

<div class='snpt-wdgt--ppg'>
   <script src='https://snapppt.com/widgets/ppg/1936c1c3-5176-4da1-9eb7-b4633aefe260' defer class='snapppt-widget'></script>
  </div>